
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
header {
    background-color: #EAC926;;
}
p {
    font-size: 12px;
    margin: 0px;
}
h2 {
    font-size: 24px;
}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;
   color: #39b54a;
}
.descripcion {
    font-size: 16px;
}
.p_nav{
    text-align: center;
}
.fondo{
    background-color: #ebebeb;
    font-family: 'Roboto Mono', monospace;
}
section{
    margin: 0px;
    padding: 0px;
}
.burguer{
    text-align: center;
    color: #03264C;
    margin: 0px;
    font-size:48px;color:white;
}
.busqueda{
    text-align: center;
}
.burguere{
    background-color: #1259c3;
    width: 80px;
    height: 80px;
    margin: 10px;
    padding-top: 20px;
    border-radius: 20px;
}
.bus{
    font-size: 20px;
    color: #39b54a;
}
footer{
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}
.h2_foot{   
    font-size: 10px;
    color: #ebebeb;
    
}
.p_footer{
color: #666;    
}
.icon-footer{
    margin-top: 10px;
    color: #1259c3;
    font-size: 2em;
}

.main{
    display: flex;
    width: 600px; 
    flex-direction:row;
    align-items: center;
    
}